@page
@model Zealand_Carpool.Pages.CarpoolPage.CarpoolsModel
@{
}
<div class="container">
    <form class="form-inline">
        <div class="form-group mb-2">
            <label for="Søg:" class="sr-only">Søg</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label class="sr-only">Søg</label>
            <input type="text" class="form-control" placeholder="Input her en Adresse, ex. ">
        </div>
        <button type="submit" class="btn btn-outline-light mb-2">Søg</button>
    </form>

    <div class="card-deck ">
        
        <div class="card">
           
            <div class="card-body">
                <h5 class="card-title">Adresse fra: (Adresse) Til: (branch navn)</h5>
                (kort)
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        
        
    </div>
</div>