@page
@model Zealand_Carpool.Pages.LoginPage.LogoutModel
@{
}

<div class="text-center"><h2><b>Zealand CarPool</b></h2></div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Logout</h5>
                <a type="button" class="close" asp-page="/Index"></a>
            </div>
            <div class="modal-body text-center">
                <h6>Du er nu på vej til at logge ud!</h6>
                <br />
                <form method="post">
                <input type="submit" class="btn btn-outline-danger" asp-page-handler="Logout" style="padding-left:2rem; padding-right:2rem;" value="Logout" placeholder="Logout" />
                </form>
                <a class="btn alert-success float-right" type="button" asp-page="/Index">X</a>
            </div>

        </div>

    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal("show");
        });
    </script>
}