@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Der skete en fejl i systemet</h2>
<a asp-page="/Index"><b>Tryk her for at gå til forsiden</b></a>

