@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
<link rel="stylesheet" href="~/css/Index.css" />
</head>

<div id="Image1">
    <div class="container">
                <h2 class="text-center">Velkommen til <br /> <b id="LogoT">Zealand - Carpool</b> </h2>
                <h6 class="text-center"><i>Du er ikke logget ind, tryk på knappen nedunder for at logge ind</i></h6>
                <div class="text-center">
                    <button type="button" class="btn btn-success" id="LogBut">Login</button>
                </div>
            </div>
            
    
    
</div>
