@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
<link rel="stylesheet" href="~/css/Index.css" />
</head>

<div id="Image1">
    <div class="container">
        <h2>velkommen til Zealand Carpool</h2>
        <h6><i>Du er ikke logget ind, tryk på knappen nedunder for at logge ind</i></h6>
    </div>

</div>
